html{
}

* {
    box-sizing: border-box;
}


body{

    margin: 0;
    padding: 0;
    color: white;
    background-color:#708091;
    font-family: 'HelveticaNeue',Helvetica,Arial,sans-serif;
}

a, a:link{
    text-decoration: none;
    color: yellow;
}

a:hover, a img {
    color: #ffc8c8;
}

/* a:hover{
    color:darkorange;
} */

.icon{
    width:1em;
    height:1em;
    margin-right: .5em;
}

.ibm-logo, .ibm-logo img{
    width: 2em;
}

.page {

}

.featured-work {
    width: 40%;
    height: 100vw;
    position: absolute;
    top: -3em;
    right: 0%;
    animation: fadeIn 1s;
    z-index: 900;
    overflow: hidden;
}

.featured-work-inner{
    width: 330px;
    margin: -1em 8em 0 0;
    display: block;
    float: right;
    right: 0;
}

.featured-work img{
    width: 143%;
    height: auto;
    margin: auto;
}

.lucky-star {
    width:60px;
    height: 30px;
    animation: spin 1s 2;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    float: left;
}

.hi {
    font-size: 1.2em;
    position: absolute;
    top: 7.5em;
    width: 50%;
    margin-left: 2em;
}

.motif{
    margin-left: 1em;
    position: absolute;
    top: 6em;
    z-index: 1100;
}

.wine {
    width:25px;
    height: 25px;

}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(180deg); 
    }
}

.jump-button {

margin: auto;
position: absolute;
bottom: 3%;
left: 44%;
animation: pop ease-out forwards .5s;
/* animation-delay: 1s; */
animation-fill-mode: forwards;
}

.button-ball{
border-radius: 50%;
background-color: #0012ff;
width: 90px;
height: 90px;
/* animation: fly infinite 2s; */
/* position: absolute;
bottom: 0px; */
}

img.arrow {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 22%;
}

@keyframes fly {
    0% {bottom: 0px};
    100% {bottom: 10px};
}

@keyframes pop {
    0% {visibility:visible; transform: scale(0)};
    100% {visibility:visible; transform: scale(1)};
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#showcase{
    margin: -1px;
    width: 100%;
    background-color: #000000;
}

.padding {
padding: 1em;
}

#intro{
width: auto;
height: 700px;
background: url('images/rose-bg.png') 65%;
}

.icon-intro{
width: 1.5em;
height: 2em;
float: left;
display: block;
}

.grad{
    height: 150px;
    background: rgb(112,128,145);
    background: linear-gradient(180deg, rgba(112,128,145,1) 0%, rgba(0,0,0,1) 100%);
}

.vini-intro{
float: left;
font-size: 1.75em;
width: 50%;
top:11em;
left:4em;
position:absolute;
animation: pluc 2s;
}

@keyframes pluc {
    0% {top: -20em;left: -20em};
    100% {top: 6em;left: 2em};
}

.spacer {
padding: 7px 0 7px 0;
}

.recuo {
    padding: 0 0 0 10px; 
}

.heading{
padding: 4em 1em 1em 2em;
font-size: 1.5em;
}

p.heading-small{
/* padding: 4em 1em 1em 2em; */
font-size: 1rem;
}

.heading-half-left, .heading-half-right{
width: 66%;
}


.heading-half-right{
    display: block;
    float: right;
}

.heading-half-left{
text-align: left;
}

.small-padding-left{
    padding: 1em 0.5em 1em 1em;
}

.small-padding-right{
    padding: 1em 1em 1em 0.5em;
}

.heading-half-right, .heading-half-right p{
text-align: right;
}

.toolbar-initial
{
position: absolute;
padding: 2em 1em 3em 2em;
height: 4em;
background-color: #fd216f;
z-index: 1000;
}

.actions-area{
display: flex;
flex-direction: row;
align-items: baseline;
}

.actions-area .menu-item{
font-size: 1.8em;
margin-left:1em;
}

.myname{
font-size: 3em;
}

#quick-toolbar
{
z-index:200;
padding: 1em 1em 2em 1em;
transition: top ease-in .5s;
position: fixed;
top: -100px;
width: 100%;
background-color: #fd216f;
height: 2em;
/* background-color: #aa0066; */
}

.quick-toolbar-area{
/* display: flex;
flex-direction: row;
align-items: baseline; */
}

.to-top{
    /* align-self:flex-end; */
    display: block;
    float: right;
}

#clients, #illustrations {
position: relative;
z-index:1;
}

.client {
    position: relative;
    height: auto;
}

.client-info{
    padding: 0 3em 0 3em; 
}

.jumper {
    display: inline-block;
}

.jumper a{
    margin-left: 1em;
}

.quick-link {
    display: inline-block;
}

#quick-toolbar.alive
{
top: 0;
}

#contacts {
height: 95%;
background-color: blue;    
}

.piece{
height: auto; 
}

.placeholder{
width: 100%;
}

.placeholder img{
    width: 100%;
    height: auto;
}

#viewport-contatos{
    background-color: #fd216f;
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#fundinho-contatos{
    background-color: #2B374A;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
}

.contact-info {
    position: absolute;
    height: 80%;
    width: 100%;
    padding: 4em;
    font-weight: 200;
    font-size: 1em;
    z-index: 1;
    top: 6em;
    }

section img, section div{
    
}
.resume {
width: 70%;
display: block;
float: left;
}

.bio {
width: 30%;
display: block;
float: left;
}

.find-me-at{
width: 30%;
}

.media-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social-networks.linkedin {
    width: 2em;
    height: 2em;
}

.social-networks.deviantart {
    width: 5.4em;
    height: 1.4em;
}

.social-networks.facebook {
    width: 2em;
    height: 2em;
}


/* Grid */

.full, .half, .quarter, .onethird, .twothirds, .break{
    height: auto;
    float: left;
    display: block;
}

.full{
    width: 100%;
}

.twothirds{
    width: 67%;
}

.half{
    width: 50%;  
}

.onethird{
    width: 33%;
}

.quarter{
    width: 25%;   
}

.break{
    clear: both;
}

.row{
    height: 100%;
    background-color: white;
}

.clear{
    clear:both;
}

/* Media queries */


@media screen and (min-width: 1080px) {
    .full {
    width: 100%;
    }
    .half {
    width: 50%;
    } 
    .quarter {
    width: 25%;
    } 
  }

/* Tablet */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .vini-intro{
        display: none;
    }

    .lucky-star.web {
        display: none;
    }

    .myname, .actions-area .menu-item{
        font-size: 1.4em;
    }

    .button-ball{
        width: 80px;
        height: 80px;
        }

        .heading-half-left, .heading-half-right{
            width: 100%;
            }

            .heading-half-right{
                display: block;
                float: left;
                }
                .heading-half-right, .heading-half-right p{
                    text-align: left;
                }

    .full {
        width: 100%;
    }
    .half {
        width: 50%;    
    }
    .quarter {
        width: 50%;
    } 
  }

  /* Mobile */
  @media only screen and (min-width : 320px) and (max-width : 767px) {


.toolbar-initial
{
position: fixed;
padding: .75em 1em 0 .75em;
height: 2.5em;
z-index: 2000;
width: 100%;
}

#quick-toolbar {
    display: none;
}

.t-border{
display: block;
background-color: lightgrey;
width: 100%;
height: 2px;
position: fixed;
top: 2.5em;
z-index: 2000;
max-width: 100%;
animation: fillborder 1s ease-out;
}

@keyframes fillborder{
    0% {max-width: 0%;}
    100% {max-width: 100%;}
}

    .vini-intro{
        display: none;
    }

    .lucky-star.tablet, .lucky-star.web {
        display: none;
    }

    .myname, .actions-area .menu-item{
        font-size: 1em;
    }

    .button-ball{
        width: 70px;
        height: 70px;
        }

    
    .featured-work {
    display: none;
    }

    .heading-half-left, .heading-half-right{
        width: 100%;
        }

        .heading-half-right{
        display: block;
        float: left;
        }
        .heading-half-right, .heading-half-right p{
            text-align: left;
        }

    
    .icon.menu-icon{
        display: none;
        }

    .icon-intro{
        display: none;
    }

    .hi {
        width: auto;
        margin-left: 1em;
    }

    .full {
        width: 100%;
    }
    .half {
        width: 100%;    
    }
    .quarter {
        width: 100%;
    } 
  }

/* Vini Grid is experimental. Don't blame me if it blows your computer up. */

/* Tablet */
@media screen and (min-width: 768px) {

  }